@font-face {
    font-family: Ubuntu-Bold;
    src: url('./assets/fonts/Ubuntu-Bold.ttf');
}

@font-face {
    font-family: Ubuntu-Medium;
    src: url('./assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
}

* {
    box-sizing: border-box;
    font-family: Ubuntu-Bold
}

:root {
    --marine-blue: hsl(213, 96%, 18%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --light-blue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--light-gray);
}

/* WRAPPER STYLING */
#wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    /*Following allows overlay without absolute positioning*/
    grid-template-areas:
        "a"
        "b"
}

#wrapper * {
    grid-area: a;
}

/* END WRAPPER STYLING */

#sidebar-img {
    width: 100%;
    object-fit: cover;
}

/* NAV STYLING */
#nav {
    margin-block-start: 5rem;
    display: flex;
    justify-content: center;
}

.nav-btn {
    margin-inline: 1ch;
    height: 5ch;
    width: 5ch;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.selected-nav {
    background-color: var(--light-blue) !important;
    color: var(--marine-blue) !important;
    border: none !important;
}

.nav-header {
    display: none;
}

/* END NAV STYLING */

/* FORM CARD STYLING */
.form-card {
    background-color: #fff;
    border-radius: 1ch;
    margin-block-start: 8.5rem;
    margin-inline: 2rem;
    padding-block: 2rem;
    padding-inline: 1.5rem;
    height: fit-content;
}

.form-card h1 {
    margin: 0;
    padding: 0;
    font-size: 3.25ch;
    color: var(--marine-blue)
}

.form-card h3 {
    margin: 0;
    padding: 0;
    font-family: Ubuntu-Regular;
    font-size: 1.5ch;
    color: var(--marine-blue)
}

.form-card p {
    font-family: Ubuntu-Medium;
    font-size: 2ch;
    color: var(--cool-gray);
}

.form-card input[type="text"],
.form-card input[type="email"] {
    margin-block-start: .5ch;
    padding-inline: 2ch;
    padding-block: 1.5ch;
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: .5ch;
    font-size: 2ch;
    font-family: Ubuntu-Medium;
    color: var(--cool-gray);
}

.form-card input+h3 {
    margin-block-start: 1rem;
}

/* PLAN CARD STYLING */
.plan-btn {
    display: flex;
    border: 1px solid var(--light-gray);
    border-radius: 1ch;
    padding-block: 1rem;
}

.plan-btn+.plan-btn {
    margin-block-start: 1rem;
}

.plan-btn * {
    margin-inline-start: 2ch;
}

.plan-btn h2,
.plan-btn p {
    margin: 0;
}

.plan-btn h2 {
    font-size: 2ch;
    color: var(--marine-blue)
}

.plan-btn p {
    font-size: 1.8ch;
}

#sub-display {
    display: flex;
    justify-content: center;
    background-color: var(--alabaster);
    margin-block-start: 2rem;
    padding-block: 1.5ch;
    border-radius: 1ch;
}

#sub-display * {
    margin: 0;
}

#sub-display p {
    margin-inline: 1.5rem;
}

.sub-price-val,
.sub-price-del {
    margin: 0 !important;
}

.yearly-subtext {
    height: 2ch;
    font-size: 1.5ch !important;
    margin-block-start: 1ch !important;
    color: var(--marine-blue) !important;
}


#sub-switch {
    position: relative;
    margin-inline-end: 5ch;
}

#sub-switch label {
    width: 5ch;
    height: 2.4ch;
    background-color: var(--marine-blue);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3ch;
}

#sub-switch input {
    display: none;
}

#sub-switch label:after {
    content: '';
    width: 1.5ch;
    height: 1.5ch;
    border-radius: 50%;
    position: absolute;
    top: .45ch;
    left: .45ch;
    transition: 100ms;
    background-color: #fff;
}

#sub-switch input:checked+label:after {
    left: 3.05ch;
}

#sub-switch input:checked+label {
    background-color: var(--purplish-blue);
}

.selected-sub {
    color: var(--marine-blue) !important;
}

/* END PLAN CARD STYLING */
/* ADDONS CARD STYLING */
.addon-btn {
    display: flex;
    align-items: center;
    border: 1px solid var(--light-gray);
    border-radius: 1ch;
    padding: 1rem;
}

.addon-btn+.addon-btn {
    margin-block-start: 1rem;
}

.addon-btn input {
    margin-inline-end: 1rem;
    height: 3ch;
    width: 3ch;
}

.addon-btn div h4,
.addon-btn div p {
    margin: 0;
}

.addon-btn div h4 {
    color: var(--marine-blue);
}

.addon-btn div p {
    font-size: 1.5ch;
}

.addon-price {
    margin-inline-start: auto;
    font-size: 1.7ch !important;
    color: var(--purplish-blue) !important;
    opacity: 60%;
}

/* SUMMARY CARD STYLING */
#services {
    background-color: var(--alabaster);
    padding: 2ch;
    border-radius: 1ch;
}

#services p,
#service-total p {
    margin-block: 0;
    font-family: Ubuntu-Regular;
}

#services *+* {
    margin-block-start: 1rem;
}

.service-listing,
#service-total {
    display: flex;
    align-items: center;
}

.price-tag {
    margin-inline-start: auto;
    font-family: Ubuntu-Medium !important;
    color: var(--marine-blue) !important;
}

#final-plan+.price-tag {
    font-family: Ubuntu-Bold !important;
    color: var(--marine-blue) !important;
}

#service-total .price-tag {
    color: var(--purplish-blue) !important;
    opacity: 90%;
    font-size: 2ch;
}

#final-plan h3 {
    font-size: 2ch;
    margin: 0;
}

#service-break {
    border-bottom: 1px solid var(--light-gray);
}

#service-total {
    margin: 1rem;
}

/* SUBMISSION CARD */
#submission-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

#submission-card img {
    height: 7ch;
    margin-block-start: 4rem;
    margin-block-end: 2rem;
}

#submission-card p {
    margin-block-end: 3rem;
    line-height: 2.5ch;
    font-family: Ubuntu-Regular;
}

/* END FORM CARD STYLING */

#footer {
    grid-area: b;
    display: flex;
    align-items: end;
}

#footer div {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2ch;
}

#footer div * {
    margin-block: 2ch;
}

#footer div button {
    padding: 1ch;
    font-family: Ubuntu-Regular;
    font-size: 1.7ch;
    background-color: var(--marine-blue);
    color: #fff;
    border: none;
    border-radius: .5ch;
}

#footer div button:hover {
    background-color: var(--purplish-blue)
}

#footer div p {
    color: var(--cool-gray)
}

@media only screen and (min-width: 880px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #wrapper {
        height: auto;
        max-width: 62rem;
        grid-template-areas:
            "a b"
            "a c";

        grid-template-columns: 274px auto;
        margin-inline: 1rem;
        margin-block: auto;
        background-color: #fff;
        border-radius: 3ch;
        padding: 1rem;
    }

    #sidebar-img {
        width: auto;
    }

    #nav {
        flex-flow: column;
        justify-content: start;
        padding-block-end: 50%;
        margin: 0;
    }

    #nav>div {
        display: flex;
        align-items: center;
    }

    #nav>div:first-of-type {
        margin-block-start: 1.5rem;
    }

    .nav-btn {
        margin-block: 1rem;
        margin-inline-start: 2rem;
    }

    .nav-header {
        display: block;
        margin-inline-start: 1ch;
    }

    .nav-header>p {
        font-family: Ubuntu-Regular;
        color: var(--cool-gray);
        font-size: 1.4ch;
    }

    .nav-header>h4 {
        color: #fff;
    }

    .nav-header * {
        margin: 0;
    }

    #submission-card img {
        height: 10ch;
        margin-block-start: 6rem;
    }

    #submission-card p {
        max-width: 100%;
    }

    .form-card {
        grid-area: b !important;
        margin-inline: 4rem;
        margin-block-start: 1rem;
    }

    /* PLAN CARD STYLING */
    #plan-list {
        display: flex;
        justify-content: center;
    }

    .plan-btn {
        flex-flow: column;
        align-items: baseline;
        padding-inline-end: 2rem;
        min-width: 16ch;
    }

    .plan-btn img {
        height: 4.5ch;
        margin-block-end: 3rem;
    }

    .plan-btn+.plan-btn {
        margin-block-start: 0;
        margin-inline-start: 1rem;
    }

    #footer {
        grid-area: c;
        margin-inline: 4rem;
    }

    #footer div button {
        padding-block: 2ch;
        padding-inline: 3ch;
    }
}